
<div class="register_header">
  <p class="radio_text">
    <span class="radio-item">
      <input type="radio" id="check1" value="" name="gender" class="check_radio">
      <label for="check1">
        Đăng ký tài khoản tổ chức
      </label>
    </span>
    <span class="radio-item">
      <input type="radio" checked="checked" id="check2" value="" name="gender" class="check_radio">
      <label for="check2">
        Đăng ký tài khoản cá nhân
      </label>
    </span>
  </p>

  <div class="back">
    <a href="http://127.0.0.1:5000" style="text-decoration: none;">
      <button class="btn-back">Quay lại</button>
    </a>
  </div>

</div>

<div class="register_main1" id="organization">
  <h2>I. Thông tin chung về tổ chức</h2>
  
  {% import "macros/form.html" as form %}

  <form class="user-register-form" id="user-register-form" action="" method="post" enctype="multipart/form-data">
    <div class="register-form">
      {{ form.errors(error_summary) }}
    {{ form.input("email", id="field-email", label=_("Email"), type="email", placeholder=_(" "), value=data.email, error=errors.email, classes=["control-medium"], is_required=True) }}
    </div>
    <div class="input_main coquan">
      {{ form.input("coquan", id="field-coquan", label=_(" "), placeholder=_("Tên cơ quan"), type="text", value=data.coquan, error=errors.coquan, classes=["control-medium"], is_required=True) }}
    </div>

    <div class="input_info">
      <div class="input-box">
        <div class="input-item">
          {{ form.input("phone", id="field-phone", label=_(" "), placeholder=_("Số điện thoại"), type="tel", value=data.phone, error=errors.phone, classes=["control-medium"], is_required=True) }}
        </div>
        <div class="input-item">
          {{ form.input("fax", id="field-fax", label=_(" "), placeholder=_("FAX"), type="text", value=data.fax, error=errors.fax, classes=["control-medium"], is_required=True) }}
        </div>
        <div class="input-item">
          {{ form.input("web", id="field-web", label=_(" "), placeholder=_("Website"), type="web", value=data.web, error=errors.web, classes=["control-medium"], is_required=True) }}
        </div>
      </div>
    
      <div class="input-box">
        <div class="input-item">
          {{ form.input("code", id="field-code", label=_(" "), placeholder=_("Mã số GPKD/GCNKD"), type="text", value=data.code, error=errors.code, classes=["control-medium"], is_required=True) }}
        </div>
        <div class="input-item">
          {{ form.input("address", id="field-address", label=_(" "), placeholder=_("Nơi cấp"), type="text", value=data.address, error=errors.address, classes=["control-medium"], is_required=True) }}
        </div>
        <div class="input-item">
          {{ form.input("date", id="field-date", label=_(" "), placeholder=_(" "), type="date", value=data.date, error=errors.date, classes=["control-medium"], is_required=True) }}
        </div>
      </div>
    </div>

    <div class="input_file">
      {{ form.input("file", id="field-file", label=_(" "), placeholder=_("Bản quyết định thành lập/Đăng ký kinh doanh"), type="file", value=data.file, error=errors.file, classes=["control-medium"], is_required=True) }}
      <i class="max_file">Dung lượng file tối đa &lt; 10MB </i>
    </div>
  
    <div class="select-box">
        <select class="select-item" name="" id="">
          <option value="0">--- Chọn Tỉnh/Thành phố ---</option>
        </select>
        <select class="select-item" name="" id="">
          <option value="0">--- Chọn Quận/Huyện ---</option>
        </select>
        <select class="select-item" name="" id="">
          <option value="0">--- Chọn Phường/Xã ---</option>
        </select>
    </div>
  
    <div class="input_main">
      {{ form.input("detail", id="field-detail", label=_(" "), placeholder=_("Địa chỉ chi tiết"), type="text", value=data.detail, error=errors.detail, classes=["control-medium"], is_required=True) }}
      <select class="address" name="" id="">
        <option value="0">Cơ quan trực thuộc</option>
      </select>
    </div>
  
    <div class="input_text">
      {{ form.input("desc", id="field-desc", label=_(" "), placeholder=_("Mô tả ngắn gọn về mục đích tham gia Cổng dữ liệu "), type="text", value=data.desc, error=errors.desc, classes=["control-medium"], is_required=True) }}
    </div>

    <h2>II. Thông tin người đại diện</h2>

    <div class="footer_input">
      <div class="footer_input-1">
        <div class="col-md-6 col1">
          {{ form.input("fullname", id="field-fullname", label=_(" "), placeholder=_("Họ và Tên"), value=data.fullname, error=errors.fullname, classes=["control-medium"]) }}
        </div>
        <div class="col-md-6 col2">
          {{ form.input("position", id="field-position", label=_(" "), placeholder=_("Chức danh"), value=data.position, error=errors.position, classes=["control-medium"]) }}
        </div>  
      </div>
      
      <div class="footer_input-2">
        <div class="input-item">
          {{ form.input("passport", id="field-passport", label=_(" "), placeholder=_("CCCD/CMTND/Hộ chiếu"), type="text", value=data.passport, error=errors.passport, classes=["control-medium"], is_required=True) }}
        </div>
        <div class="input-item">
          {{ form.input("address", id="field-address", label=_(" "), placeholder=_("Nơi cấp"), type="text", value=data.address, error=errors.address, classes=["control-medium"], is_required=True) }}
        </div>
        <div class="input-item">
          {{ form.input("date", id="field-date", label=_(" "), placeholder=_(" "), type="date", value=data.date, error=errors.date, classes=["control-medium"], is_required=True) }}
        </div>
      </div>

      <div class="footer_input-3">
        {{ form.input("present", id="field-present", label=_(" "), placeholder=_("Địa chỉ hiện tại"), type="text", value=data.present, error=errors.present, classes=["control-medium"], is_required=True) }}
      </div>
    </div>

    <div class="form-actions">
      <div class="btn_dk">
        <label for="btn_action">
          <button class="btn-register" type="submit" name="save">{{ _("Đăng ký") }}</button>
        </label>
      </div>
    </div>
    </form>
</div>

<div class="register_main2" id="individual">
  <h2>I. Thông tin tài khoản</h2>
  
  {% import "macros/form.html" as form %}

  <form class="user-register-form" id="user-register-form" action="" method="post" enctype="multipart/form-data">
    <div class="register-form">
      {{ form.errors(error_summary) }}
    {{ form.input("email", id="field-email", label=_("Email"), type="email", placeholder=_(" "), value=data.email, error=errors.email, classes=["control-medium"], is_required=True) }}
  
    </div>
    <div class="input_register">
        <div class="col-md-6 col1">
          {{ form.input("fullname", id="field-fullname", label=_(" "), placeholder=_("Họ và Tên"), value=data.fullname, error=errors.fullname, classes=["control-medium"]) }}
        </div>
        <div class="col-md-6 col2">
          <div class="sdt">
            {{ form.input("phone", id="field-number-phone", label=_(" "), placeholder=_("Số điện thoại"), type="tel", value=data.phone, error=errors.phone, classes=["control-medium"], is_required=True) }}
          </div>
        </div>
    </div>
  
    <div class="input-form">
      <div class="input-item">
        {{ form.input("passport", id="field-passport", label=_(" "), placeholder=_("CCCD/CMTND/Hộ chiếu"), type="text", value=data.passport, error=errors.passport, classes=["control-medium"], is_required=True) }}
      </div>
      <div class="input-item">
        {{ form.input("address", id="field-address", label=_(" "), placeholder=_("Nơi cấp"), type="text", value=data.address, error=errors.address, classes=["control-medium"], is_required=True) }}
      </div>
      <div class="input-item">
        {{ form.input("date", id="field-date", label=_(" "), placeholder=_(" "), type="date", value=data.date, error=errors.date, classes=["control-medium"], is_required=True) }}
      </div>
    </div>
  
    <div class="select-box">
        <select class="select-item" name="" id="">
          <option value="0">--- Chọn Tỉnh/Thành phố ---</option>
        </select>
        <select class="select-item" name="" id="">
          <option value="0">--- Chọn Quận/Huyện ---</option>
        </select>
        <select class="select-item" name="" id="">
          <option value="0">--- Chọn Phường/Xã ---</option>
        </select>
    </div>
  
    <div class="input_main">
      {{ form.input("detail", id="field-detail", label=_(" "), placeholder=_("Địa chỉ chi tiết"), type="text", value=data.detail, error=errors.detail, classes=["control-medium"], is_required=True) }}
      <select class="address" name="" id="">
        <option value="0">Cơ quan trực thuộc</option>
      </select>
    </div>
  
    <div class="input_text">
        {{ form.input("desc", id="field-desc", label=_(" "), placeholder=_("Mô tả ngắn gọn về mục đích tham gia Cổng dữ liệu "), type="text", value=data.desc, error=errors.desc, classes=["control-medium"], is_required=True) }}
    </div>

    <div class="form-actions">
      <div class="btn_dk">
        {% block form_actions %}
        <button class="btn-register" id="btn_action" type="submit" name="save">{{ _("Đăng ký") }}</button>
        {% endblock %}
      </div>
    </div>
  </form>
</div>

<div class="input_end" onload="generate()">
  <div class="input_end-1">
    <input required type="checkbox">
    <p>
      Đồng ý với
      <a>điều khoản & chính sách</a>
    </p>
  </div>
  
  <div class="input_end-2">
    <p class="captcha">
      Mã captcha
      <span title="This field is required" class="control-required">*</span>
    </p>
    <input required type="text" id="submit" placeholder="Nhập mã captcha">
  </div>
    
  <div class="input_end-3">
    <div id="image" class="inline" selectable="False">
    </div>
    <div class="change" onclick="generate()">
      <img src="../../images/img-box/change.png">
    </div>
    <p id="key"></p>
  </div>
</div>
